<?xml version="1.0" encoding="UTF-8"?>
<con:customMockService xmlns:con="http://eviware.com/soapui/config" id="e996ec56-85be-4be2-8333-c7ced2f90ff4" name="JMS Virtual Service 1">
  <con:settings id="151e2618-0dda-4db0-ad6e-b59521130cc1">
    <con:setting id="e996ec56-85be-4be2-8333-c7ced2f90ff4fileName">JMS-Virtual-Service-1</con:setting>
  </con:settings>
  <con:properties>
    <con:property>
      <con:name>jmsMockService.ttlHopLimit</con:name>
      <con:value>10</con:value>
    </con:property>
  </con:properties>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>1</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>1</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:virtProperties>
    <con:property>
      <con:name>mockServiceType</con:name>
      <con:value>JMS</con:value>
    </con:property>
  </con:virtProperties>
</con:customMockService>
